
.imgBola {
    z-index: 1;
}
.imgBola, .rayo, .rayoDos, .luzAzul {
    position: absolute;
}
.luzAzul, .luzAzulDos {
    background-color: blue;
    border-radius: 100px;
    position: absolute;
    width: 350px;
    height: 350px;
    filter: blur(100px);
    box-shadow: 0 0 133.459px #0077ff87, 0 0 66.73px #0077ff7e, 0 0 19.066px;
}
.luzAzul {
    left: 100%;
    top: 10%;
}
.luzAzulDos {
    right: 100%;
    top: 20%;
}
.contieneBola {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 100vh;
}
.sectionEnergia {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

@media (max-width: 576px) {
    .imgBola {
        width: 100%;
    }
    .luzAzul, .luzAzulDos {
        width: 100px;
        height: 100px;
        filter: blur(80px);
    }
    .rayo, .rayoDos {
        width: 100%;
    }
}
@media (min-width: 1200px) and (max-width: 1440px) {
.imgBola {
    width: 100%;
}
.rayo {
    width: 70%;
}
.rayoDos {
    width: 80%;
    rotate: 240deg;
}

}