@font-face {
    font-family: "Bebas";
    src: url("../../fonts/BebasNeue-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins-Regular";
    src: url("../../fonts/Poppins/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins-Bold";
    src: url("../../fonts/Poppins/Poppins-Bold.ttf");
  }
  @font-face {
    font-family: "Poppins-Light";
    src: url("../../fonts/Poppins/Poppins-Light.ttf");
  }

.contenedorRocaSlogan {
  position: absolute;
  width: 100%;
}
.slogan{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sloganTexto {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins-Medium';
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
.sectionSlogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
}
.contenedorTextoSlogan {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}
.contenedorImgAdn {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedorImgAdn img {
    animation: adn 5s ease-in-out infinite; 
}
@keyframes adn {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @media (max-width: 576px) {
    .sectionSlogan {
      height: 50vh;
    }
    .contenedorImgAdn img {
      width: 20%;
    }
    .contenedorTextoSlogan {
      width: 90%;
    }
    .sloganTexto {
      font-size: 1.7em;
    }
    .contenedorRocaSlogan img {
      width: 80%;
    }
    .contenedorRocaSlogan {
      left: 200px;
      bottom: 60px;
    }
    .polyAzul {
      color: #0075FF;
    }
  }

  @media (min-width: 577px) and (max-width: 772px) {
    .contenedorImgAdn img {
      width: 20%;
    }
    .contenedorTextoSlogan {
      width: 90%;
    }
    .sloganTexto {
      font-size: 2.5em;
    }
    .contenedorRocaSlogan img {
      width: 70%;
    }
    .contenedorRocaSlogan {
      left: 400px;
      bottom: 100px;
    }
  }
  @media (min-width: 773px) and (max-width: 992px) {
    .contenedorImgAdn img {
      width: 15%;
    }
    .contenedorTextoSlogan {
      width: 90%;
    }
    .sloganTexto {
      font-size: 3em;
    }
    .contenedorRocaSlogan img {
      width: 70%;
    }
    .contenedorRocaSlogan {
      left: 600px;
      bottom: 10px;
    }
  }

  @media (min-width: 993px) and (max-width: 1200px) {
    .contenedorImgAdn img {
      width: 15%;
    }
    .sloganTexto {
      font-size: 4em;
    }
    .contenedorRocaSlogan img {
      width: 70%;
    }
    .contenedorRocaSlogan {
      left: 600px;
      top: -600px;
    }
  }

@media (min-width: 1201px) and (max-width: 1440px) {
    .sloganTexto {
        font-size: 4em;
    }
    .contenedorTextoSlogan {
      width: 60%;
    }
    .contenedorImgAdn img {
        width: 10%;
    }
    .contenedorRocaSlogan {
      left: 980px;
      bottom: -90px;
    }
    .contenedorRocaSlogan img {
      width: 50%;
    } 
}

@media (min-width: 1441px) {
    .sloganTexto {
        font-size: 5em;
    }
    .contenedorTextoSlogan {
      width: 60%;
    }
    .contenedorImgAdn img {
        width: 10%;
    }
    .contenedorRocaSlogan {
      right: -1400px;
      bottom: -100px;
    }
    .contenedorRocaSlogan img {
      width: 50%;
    } 
}