@font-face {
    font-family: "Bebas";
    src: url("../../fonts/BebasNeue-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins-Regular";
    src: url("../../fonts/Poppins/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins-Bold";
    src: url("../../fonts/Poppins/Poppins-Bold.ttf");
  }
  @font-face {
    font-family: "Poppins-Light";
    src: url("../../fonts/Poppins/Poppins-Light.ttf");
  }

  .btnForm {
    display: flex;
    width: 100%;
    height: 56px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;

    color: #FFF;
    text-align: center;
    font-family: 'Poppins-Light';
    font-size: 1em;
    font-style: normal;
    line-height: normal;
  }
  .btnContenedorForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

@media (max-width: 576px) {
  .btnForm {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    color: #FFF;
    font-size: .9em;
  }
} 

@media (min-width: 1201px) and (max-width: 1440px) {
  .btnForm {
    width: 251px;
    height: 56px;
    border-radius: 30px;
    color: #FFF;
    font-size: 1em;
  }
}
