
@font-face {
    font-family: "Bebas";
    src: url("../../fonts/BebasNeue-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins-Light";
    src: url("../../fonts/Poppins/Poppins-Light.ttf");
  }
  @font-face {
    font-family: "Poppins-Regular";
    src: url("../../fonts/Poppins/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins-Medium";
    src: url("../../fonts/Poppins/Poppins-Medium.ttf");
  }
  @font-face {
    font-family: "Poppins-Bold";
    src: url("../../fonts/Poppins/Poppins-Bold.ttf");
  }

.contenedorWorks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 5em;
}
.ordenButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.polyWork {
    font-family: 'Poppins-Bold';
    font-size: 3em;
    color: white;
}


