@font-face {
  font-family: "Bebas";
  src: url("../../fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../../fonts/Poppins/Poppins-Light.ttf");
}


.contenedorNecesidadTotal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  gap: 6em;
}
.sectionNecesidad {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media (max-width: 576px) {
  .imgCuadrado {
    width: 100%;
  }
  .contenedorNecesidadTotal {
    width: 80%;
  }
  .sectionNecesidad {
    height: auto;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {


  .contenedorImgCuadrado {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  .imgCuadrado {
    width: 80%;
    transform-origin: center;
    animation: rotacion 20s linear infinite;
  }
  @keyframes rotacion {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
