@font-face {
  font-family: "Bebas";
  src: url("../../fonts/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../../fonts/Poppins/Poppins-Light.ttf");
}

.sectionSoluciones {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 1;
}
.tituloSoluciones {
  color: #FFF;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'Poppins-Regular';
  font-size: 3em;
  font-style: normal;
  line-height: 88px;
}
.textoSoluciones {
  color: #FFF;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'Poppins-Light';
  font-size: 1.4em;
}

.contenedorSolucionesTotal {
  display: flex;
  align-items: flex-start; 
  flex-direction: row;
  justify-content: center;
  width: 80%;
}
.contenedorSolucionTexto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 65%;
}
.solucionesUno, .solucionesDos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.textoClickSoluciones {
  color: #FFF;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'Poppins-Light';
  font-size: 1em;
  font-style: normal;
  line-height: 34px; 
  margin-top: 10px; 
}
.contenedorBotonesSolu {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.btnSolucion {
  display: flex;
  background: transparent;
  border: 0;
  padding: 20px 0;
  cursor: pointer;
  flex-direction: column;
  gap: 1em;
  color: #FFF;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'Poppins-Light';
  font-size: 1.2em;
}
.lineaSoluciones {
  display: block;
  height: 3px; 
  background-color: transparent; 
  transition: background-color 0.3s ease; 
}
.lineaSoluciones.activo {
  background-color: blue; 
  height: 5px;
}
.lineaSoluciones {
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease; 
}
.titulo {
  font-family: 'Poppins-Medium';
}

@media (max-width: 576px) {
  .sectionSoluciones {
    height: auto;
  }
  .lineaSoluciones {
    height: 2px;
  }
  .lineaSoluciones.activo {
    height: 3px;
  }
  .tituloSoluciones {
    font-size: 1.8em;
    line-height: 120%;
    font-family: 'Poppins-Light';
  }
  .textoSoluciones {
    font-size: 1em;
    text-align: center;
  }
  .contenedorSolucionesTotal {
    width: 90%;
    flex-direction: column;
  }
  .contenedorSolucionTexto {
    width: 100%;
    align-items: center;
  }
  .textoClickSoluciones {
    font-size: .9em;
    line-height: 20px;
    font-family: 'Poppins-Regular';
  }
  .contenedorBotonesSolu {
    width: 100%;
    gap: 1em;
    flex-direction: row;
  }
  .titulo {
    font-family: 'Poppins-Bold';
  }
  .btnSolucion {
    font-size: .9em;
    font-family: 'Poppins-Bold';
    letter-spacing: 1px;
  }
}

@media (min-width: 577px) and (max-width: 772px) {
  .tituloSoluciones {
    font-size: 2.3em;
  }
  .sectionSoluciones {
    height: auto;
  }
  .contenedorSolucionesTotal {
    flex-direction: column;
  }
  .textoSoluciones {
    font-size: 1.2em;
  }
  .contenedorBotonesSolu {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2em;
  }
  .contenedorSolucionTexto {
    width: 100%;
  }
  .solucionesDos, .solucionesUno {
    gap: 2em;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .contenedorSolucionesTotal {
    width: 80%;
  }
  .contenedorSolucionTexto {
    width: 65%;
  }
  .tituloSoluciones {
    font-size: 3em;
  }
  .textoSoluciones {
    font-size: 1.4em;
  }
  .textoClickSoluciones {
    font-size: 1em;
    line-height: 34px;
  }
  .contenedorBotonesSolu {
    width: 80%;
  }
  .btnSolucion {
    font-size: 1.2em;
  }
}

@media (min-width: 1441px) {
  .textoClickSoluciones {
    font-size: 1.3em;
  }
  .btnSolucion {
    font-size: 2em;
  }
  .textoSoluciones {
    font-size: 1.5em;
  }
  .titulo {
    font-family: 'Poppins-Bold';
  }
}