
.contenedorHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: auto;

}
.contieneRocaHome {
    position: absolute;
    top: -240px;
    rotate: 140deg;
}


@media (max-width: 576px) {
    .contieneRocaHome {
        top: -140px;
    }
    .contieneRocaHome img {
        width: 100%;
    }
    .contenedorHome {
        gap: 4em;
    }
}
@media (min-width: 1200px) and (max-width: 1440px) {

}