
.contieneBola {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 100vh;
}
.contenedorHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
}
.contieneRocaHome {
    position: absolute;
    top: -240px;
    rotate: 140deg;
}
.imgBola, .rayo, .rayoDos, .luzAzul {
    position: absolute;
}
.luzAzul {
    background-color: blue;
    border-radius: 100px;
    position: absolute;
    width: 450px;
    height: 450px;
    filter: blur(100px);
    box-shadow: 0 0 133.459px #0075FF, 0 0 66.73px #0075FF, 0 0 19.066px;
}


@media (min-width: 1200px) and (max-width: 1440px) {
    .imgBola {
        width: 100%;
        z-index: 1;
    }
    .rayo {
        width: 70%;
    }
    .rayoDos {
        width: 80%;
        rotate: 240deg;
    }
}